/* .card-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  max-width: 870px;
  min-height: 622px;
  background-color: var(--gray);
  background-image: url(../img/about-us-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}

.card-detail__content {
  min-height: 196px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 32px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
} */

.card-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 870px;
  min-height: 622px;
  background-color: var(--gray);
  background-image: url(../img/about-us-foto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.card-detail__content {
  min-height: 196px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 32px;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0.5);
}
