/* @keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menu-open {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes menu-close {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes search-open {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes search-close {
  from {
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    transform: scaleX(0);
    opacity: 0;
  }
} */

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(40px);
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes menu-open {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes menu-open {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes menu-close {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes menu-close {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@-webkit-keyframes search-open {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes search-open {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
}

@-webkit-keyframes search-close {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes search-close {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    opacity: 0;
  }
}
